<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dev</key>
	<dict>
		<key>id</key>
		<string>Rtuk3VRs5pY01b42HRQrMxcB</string>
		<key>key</key>
		<string>3KJDrnLLSVUXp2r8QjdwE89C</string>
	</dict>
	<key>test</key>
	<dict>
		<key>id</key>
		<string>Rtuk3VRs5pY01b42HRQrMxcB</string>
		<key>key</key>
		<string>3KJDrnLLSVUXp2r8QjdwE89C</string>
	</dict>
	<key>prod</key>
	<dict>
		<key>id</key>
		<string></string>
		<key>key</key>
		<string></string>
	</dict>
</dict>
</plist>
