
.icon-heart:before { content: '\e800'; } /* '' */
.icon-bill-unfilled:before { content: '\e801'; } /* '' */
.icon-trending:before { content: '\e802'; } /* '' */
.icon-car:before { content: '\e803'; } /* '' */
.icon-chat:before { content: '\e804'; } /* '' */
.icon-edit:before { content: '\e805'; } /* '' */
.icon-featured:before { content: '\e806'; } /* '' */
.icon-filter:before { content: '\e807'; } /* '' */
.icon-person:before { content: '\e808'; } /* '' */
.icon-bill-filled:before { content: '\e80a'; } /* '' */